<h1>Your Standards</h1>

<ol>
<% @standards.each do |s| %>
    <li>
        <h4><a href="/jazz-standards/<%= s.id %>">"<%= s.title %>" by <%= s.composer %></a></h4>
        <h5>Recording: <%= s.recording %> by <%= s.performer %></h5>
        <h5>Tempo: <%= s.tempo %> bpm</h5>
        <h5>Levels of Knowledge: <%= s.levels_of_knowledge %></h5>
        <h5>Date Memorized: <%= s.date_memorized %></h5>
        <br>
    </li>
<% end %>
</ol>

