<h2><%= @standard.title %></h2>
<ul>
    <h4><li>Composer: <%= @standard.composer %></li></h4>
    <h4><li>Recording: <i><%= @standard.recording %></i> by <%= @standard.performer %></li></h4>
    <h4><li>Tempo: <%= @standard.tempo %> bpm</li></h4>
    <h4><li>Concepts: <%= @standard.levels_of_knowledge %></li></h4>
    <h4><li>Date Memorized: <%= @standard.date_memorized %></li></h4>
</ul>
<br>
<a href="/jazz-standards/<%= @standard.id %>/edit">Edit This Standard</a>
<br>
<br>
<form method="post" action="/jazz-standards/<%= @standard.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Standard">
</form>
