<% if @user == current_user && flash[:welcome] %>
    <br>
    <h2><%= flash[:welcome] %><%= @user.username%></h2>
<% elsif @user == current_user %>
    <br>
    <h2><%= @user.username %></h2>
<% end %>
<% if @user == current_user %>
    <h3>Email: <%= @user.email %></h3>
    <h3>Instrument: <%= @user.instrument %></h3>
    <br>
    <h3><a href="/jazz-standards">See Your Practice Log</a></h3>
    <br>
<% else %>
    <br>
    <h2><%= @user.username %>'s Jazz Standards</h2>
    <ol>
        <% @standards.each do |standard| %>
            <li><h3><a href="/jazz-standards/<%= standard.id %>"><%= standard.title %></a></h3>
            </li>
        <% end %>
    </ol>
<% end %>
<% if @user != current_user %>
    <br>
    <h3><a href="/users">See All User's Lists</a></h3>
<% else %>
    <h3><a href="/users">See All User's Lists</a></h3>
<% end %>